<h1>Codial / <%= title %></h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form method="POST" action="" id="new-post-form">
        <textarea name="content" rows="3" cols="30" placeholder="Type here..."></textarea>
        <input type="submit" value="Post"/>
    </form>

</section>
